@use '../abstracts/variables' as var;

/* CTA */
#cta {
  margin-bottom: 8em;
  .cta__content {
    text-align: center;
    .cta__content-title {
      p {
        margin: 1em 0 1em;
        font-size: 1.8rem;
        text-transform: uppercase;
      }
    }
    .cta__content-cards {
      display: flex;
      justify-content: center;

      .cta__content-card {
        font-size: 1.1rem;
        padding: 1em;
        a {
          color: var.$color-main;
        }
        h3 {
          font-size: 1.2rem;
        }
      }
    }
  }
}
