@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

/* DESCRIPTION */

#description {
  .description__content {
    .description__content-main {
      text-align: center;
      .description__skills {
        margin: 0.4em 0 0;
        font-size: 1.8rem;
        text-transform: uppercase;
      }
      .description__item {
        font-size: 1.1rem;
        line-height: 3em;
      }
    }

    .description__cards {
      display: flex;
      flex-direction: row;

      @include mix.mobile {
        flex-direction: column;
      }
      .description__cards-item {
        padding: 1.3em;
        width: 100%;
      }
    }
    .description__btn {
      text-align: center;
      a {
        @include mix.mobile {
          display: block;
        }
      }
    }
  }
}
