@use '../abstracts/variables' as var;

/* HEADER */
header {
  background-color: var.$color-main;
  padding: 2em 6em;

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
      height: 100px;
    }
    .header__burger {
      display: none;
      width: 30px;
      height: 30px;
    }
  }
}
