@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

/* HERO */
#hero {
  background-image: url(../img/PHOTO-BUEAU.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;

  .hero__container {
    h1 {
      @include mix.mobile {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  h1 {
    font-family: var.$font-bold;
    display: flex;
    margin: 0;
    color: var.$color-white;
    width: 30%;
    font-size: 3rem;
    flex-wrap: wrap;

    @include mix.tablet {
      width: 60%;
    }

    @include mix.mobile {
      width: 100%;
    }
    span {
      color: var.$color-accent;
    }
  }
}
