@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

/*BTN*/
.btn {
  display: inline-block;
  background-color: var.$color-main;
  color: var.$color-white;
  font-family: var.$font-bold;
  padding: 1em 2em;
  border-radius: 8px;
  @include mix.mobile {
    display: block;
  }
}
