@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

/* NAV */
nav {
  ul {
    display: flex;
    flex-direction: row;
    gap: 5em;
    list-style-type: none;

    @include mix.tablet {
      gap: 2em;
    }

    li {
      font-size: 1.3rem;

      @include mix.tablet {
        font-size: 1.1rem;
      }

      @include mix.mobile {
        font-size: 1rem;
      }

      a {
        color: var.$color-white;
      }

      &:not(:last-child):after {
        content: '';
        border-left: 2px solid var.$color-white;
        margin-left: 2em;

        @include mix.tablet {
          margin-left: 1em;
        }
      }
    }
  }

  @include mix.tablet {
    display: none;
  }

  @include mix.mobile {
    display: none;
  }
}
