/* FONTS */
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
/* UTILITIES */
.container {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  padding: 0 20px;
}

/* BASE */
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato-Regular", sans-serif;
  margin: 0;
  color: #112e3e;
}

a {
  text-decoration: none;
}

h2 {
  margin: 1.3em 2em 0;
  font-family: "Lato-Bold", sans-serif;
  font-size: 3rem;
  color: #112e3e;
}

/*BTN*/
.btn {
  display: inline-block;
  background-color: #112e3e;
  color: #f9f9f9;
  font-family: "Lato-Bold", sans-serif;
  font-size: 1.3rem;
  padding: 1.5em 3em;
  border-radius: 8px;
}

.card {
  width: 33%;
  text-align: center;
  padding: 5em;
  line-height: 40px;
}

/* NAV */
nav ul {
  display: flex;
  flex-direction: row;
  gap: 5em;
  list-style-type: none;
}
nav ul li {
  font-size: 1.3rem;
}
nav ul li a {
  color: #f9f9f9;
}
nav ul li:after {
  content: "";
  border-left: 2px solid #f9f9f9;
  margin-left: 2em;
}

/* FOOTER */
/* HEADER */
header {
  background-color: #112e3e;
  padding: 2em 6em;
}
header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__content img {
  height: 200px;
}

/* HERO */
#hero {
  background-image: url(../img/PHOTO-BUEAU.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: center;
}
#hero h1 {
  font-family: "Lato-Bold", sans-serif;
  display: flex;
  margin: 0;
  color: #f9f9f9;
  width: 20%;
  font-size: 4rem;
  flex-wrap: wrap;
}
#hero h1 span {
  color: #edd154;
}

/* DESCRIPTION */
#description .description__content .description__content-main {
  text-align: center;
}
#description .description__content .description__content-main .description__skills {
  margin: 0.4em 0 0;
  font-size: 2.3rem;
  text-transform: uppercase;
}
#description .description__content .description__content-main .description__item {
  font-size: 1.5rem;
  line-height: 3em;
}
#description .description__content .description__cards {
  display: flex;
  flex-direction: row;
}
#description .description__content .description__cards .description__cards-item {
  font-size: 1.3rem;
}
#description .description__content .description__btn {
  text-align: center;
}

/* GALLERY */
#gallery {
  margin-top: 10em;
}
#gallery .gallery__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8em;
}
#gallery .gallery__content .gallery__content-title {
  text-align: center;
}
#gallery .gallery__content .gallery__content-title .gallery__content-subtitle {
  margin: 0.4em 0 0;
  font-size: 2.3rem;
  text-transform: uppercase;
}
#gallery .gallery__content .gallery__content-cards {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2em;
}
#gallery .gallery__content .gallery__content-cards .gallery__content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4em;
}
#gallery .gallery__content .gallery__content-cards .gallery__content-card img {
  width: 100%;
  height: 500px;
}
#gallery .gallery__content .gallery__content-cards .gallery__content-card p {
  margin-top: 0;
}

/* CTA */
#cta {
  margin-bottom: 8em;
}
#cta .cta__content {
  text-align: center;
}
#cta .cta__content .cta__content-title p {
  margin: 0.4em 0 0;
  font-size: 2.3rem;
  text-transform: uppercase;
}
#cta .cta__content .cta__content-cards {
  display: flex;
  justify-content: center;
}
#cta .cta__content .cta__content-cards .cta__content-card {
  font-size: 1.4rem;
}
#cta .cta__content .cta__content-cards .cta__content-card a {
  color: #112e3e;
}

/*# sourceMappingURL=style.css.map */
