/* FONTS */
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
/* UTILITIES */
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

/* BASE */
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato-Regular", sans-serif;
  margin: 0;
  color: #112e3e;
}

a {
  text-decoration: none;
}

h2 {
  margin: 1.3em 2em 0;
  font-family: "Lato-Bold", sans-serif;
  font-size: 2rem;
  color: #112e3e;
}

/*BTN*/
.btn {
  display: inline-block;
  background-color: #112e3e;
  color: #f9f9f9;
  font-family: "Lato-Bold", sans-serif;
  padding: 1em 2em;
  border-radius: 8px;
}

.card {
  width: 33%;
  text-align: center;
  padding: 5em;
  line-height: 40px;
}

/* NAV */
.header__burger {
  display: none;
  width: 30px;
  height: 30px;
}
@media (max-width: 1000px) {
  .header__burger {
    display: block;
  }
}
@media (max-width: 576px) {
  .header__burger {
    display: block;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 5em;
  list-style-type: none;
}
@media (max-width: 1000px) {
  nav ul {
    gap: 2em;
  }
}
nav ul li {
  font-size: 1.3rem;
}
@media (max-width: 1000px) {
  nav ul li {
    font-size: 1.1rem;
  }
}
@media (max-width: 576px) {
  nav ul li {
    font-size: 1rem;
  }
}
nav ul li a {
  color: #f9f9f9;
}
nav ul li:not(:last-child):after {
  content: "";
  border-left: 2px solid #f9f9f9;
  margin-left: 2em;
}
@media (max-width: 1000px) {
  nav ul li:not(:last-child):after {
    margin-left: 1em;
  }
}
@media (max-width: 1000px) {
  nav {
    display: none;
  }
}
@media (max-width: 576px) {
  nav {
    display: none;
  }
}

/* FOOTER */
footer {
  background-color: #112e3e;
  padding: 2em 6em;
  color: #f9f9f9;
}
footer .footer__container p {
  text-align: center;
}
footer .footer__container .footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
footer .footer__container .footer__content p {
  width: 40%;
  font-size: 1.5rem;
  text-align: justify;
}
footer .footer__container .footer__content .footer__contact {
  border-left: solid 2px #f9f9f9;
  padding-left: 3em;
}
footer .footer__container .footer__content .footer__contact h4 {
  font-size: 1.4rem;
}
footer .footer__container .footer__content .footer__contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 30px;
}
footer .footer__container .footer__content .footer__contact img {
  height: 50px;
  color: white;
}

/* HEADER */
header {
  background-color: #112e3e;
  padding: 2em 6em;
}
@media (max-width: 1000px) {
  header {
    padding: 2em 3em;
  }
}
header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__content .header__logo {
  height: 100px;
}

/* HERO */
#hero {
  background-image: url(../img/PHOTO-BUEAU.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  #hero .hero__container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#hero h1 {
  font-family: "Lato-Bold", sans-serif;
  display: flex;
  margin: 0;
  color: #f9f9f9;
  width: 30%;
  font-size: 3rem;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  #hero h1 {
    width: 60%;
  }
}
@media (max-width: 576px) {
  #hero h1 {
    width: 100%;
  }
}
#hero h1 span {
  color: #edd154;
}

/* DESCRIPTION */
#description .description__content .description__content-main {
  text-align: center;
}
#description .description__content .description__content-main .description__skills {
  margin: 0.4em 0 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}
#description .description__content .description__content-main .description__item {
  font-size: 1.1rem;
  line-height: 3em;
}
#description .description__content .description__cards {
  display: flex;
  flex-direction: row;
}
#description .description__content .description__cards .description__cards-item {
  padding: 1.3em;
  width: 100%;
}
#description .description__content .description__btn {
  text-align: center;
}

/* GALLERY */
#gallery {
  margin-top: 10em;
}
#gallery .gallery__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8em;
}
#gallery .gallery__content .gallery__content-title {
  text-align: center;
}
#gallery .gallery__content .gallery__content-title .gallery__content-subtitle {
  margin: 0.4em 0 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}
#gallery .gallery__content .gallery__content-cards {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2em;
}
#gallery .gallery__content .gallery__content-cards .gallery__content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4em;
}
#gallery .gallery__content .gallery__content-cards .gallery__content-card img {
  width: 100%;
  height: 300px;
}
#gallery .gallery__content .gallery__content-cards .gallery__content-card p {
  margin-top: 0;
}
#gallery .gallery__content .gallery__content-cards .gallery__content-card h3 {
  text-align: center;
}

/* CTA */
#cta {
  margin-bottom: 8em;
}
#cta .cta__content {
  text-align: center;
}
#cta .cta__content .cta__content-title p {
  margin: 1em 0 1em;
  font-size: 1.8rem;
  text-transform: uppercase;
}
#cta .cta__content .cta__content-cards {
  display: flex;
  justify-content: center;
}
#cta .cta__content .cta__content-cards .cta__content-card {
  font-size: 1.1rem;
  padding: 1em;
}
#cta .cta__content .cta__content-cards .cta__content-card a {
  color: #112e3e;
}
#cta .cta__content .cta__content-cards .cta__content-card h3 {
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
